@import 'variale.scss'; // 變數的引入位置順序須優先於各元件的 scss 檔
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'navbar.scss';
@import 'carousel.scss';

p, span{
  font-family: $ctFont !important;
  font-weight: 300;
}

.xl-mw, .container {
  @media (min-width: 1904px) {
    max-width: $containerMaxWidth;
  }
}

.w-100 {
  width: 100%;
}

.sd-color {
  background-color: $secondaryColor;
}
