$mainColor: #1f513f;
$secondaryColor: #292929;
$bgColor: #F7F1E6;
$accentColor: #D8BE8D;
$ctFont: 'Noto Sans TC', sans-serif;
$font: 'Noto Sans', sans-serif;
$navTextHeight: 36px;
$headerContainerHeight: 80px;
$totalNavbar: $navTextHeight + $headerContainerHeight + 48px;
$containerMaxWidth: 1185px;
